@charset "UTF-8";

/*現在のナビゲーションをホバーせずにホバー状態にする*/
/*.homeのクラス名をliタグのクラス名に変更してください*/
.menu li.chara a {
	background-color: #a0d8ef;
	color: #4e454a;
}
.menu li.chara:after {
    visibility:visible;
    opacity:1;
}
