@charset "UTF-8";

/* main */
main {
	margin: 50px 40px 0 20%;
}

/* h2 */
h2 {
  font-size: 18px;
  color: #191970;
}
h2 {
  position: relative;
}
h2::after {
  content: '';
  background-size: 10px 10px;
  background-color: #e1eef5;
  background-image: repeating-linear-gradient(-45deg, #4d9bc1 0, #4d9bc1 3px, #f0f8ff 0, #f0f8ff 50%);
  width: 150px;
  height: 7px;
  position: absolute;
  bottom: -5px;
  left: 0;
}
/*現在のナビゲーションをホバーせずにホバー状態にする*/
/*.homeのクラス名をliタグのクラス名に変更してください*/
.menu li.home a {
	background-color: #a0d8ef;
	color: #4e454a;
}
.menu li.home:after {
    visibility:visible;
    opacity:1;
}

/*テキストボックスの設定*/
.formtext {
	width: 90%;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
}

.formtext:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #ccc inset;
}

/*テキストエリアの設定*/
.formta {
    display: block;
    width: 80%;
    height: 135px;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: none;
	font-size: 18px;
}

.formta:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}


/* 送信ボタンなど */
.button {
    display: inline-block;
    margin: 0;
    padding: 13px 25px 13px 25px;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: #00608d;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
}

.button:hover {
    background-color: #202f55;
}

.button:focus {
    outline: 0;
    background-color: #202f55;
    border: 2px solid rgb(33, 150, 243);
}

.button.a {
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    background-color: #40e0d0;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
}

.button.a:hover {
    background-color: #afeeee;
}

.button.a:focus {
    outline: 0;
    background-color: #202f55;
    border: 2px solid rgb(33, 150, 243);
}

.qsubmit {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

/*質問送信ボタン*/
.sbutton {
	display: flex;
	flex-direction:column;
	padding: 0;
	width: fit-content;
}

/*送信ボタン押下時のメッセージ*/
.message {
	display: flex;
	align-items: center;
	padding: 0;
	width: fit-content;
}

/*もっと見るボタン*/
.more {
    display: flex;
    align-items: center;
    line-height: 60px;
}

/* h2クラス */
.h2 {
  font-size: 18px;
  color: #191970;
}

/*新規質問通知*/
.newq {
	display: grid;
	grid-template-columns: 80% 1fr;
	gap: 5px;
}

/*新規要望通知*/
.newr {
	display: grid;
	grid-template-columns: 80% 1fr;
	gap: 5px;
}

/* 質問フォームとアノニくん */
.qf_ha {
	margin: 20px 0 0 0;
	display: grid;
	grid-template-columns: 45% 1fr;
	gap: 10px;
}

.copyright {
  /*background-image: url(/D4/img/footer-bg.png);
  background-repeat: repeat-x;*/
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4682b4;
	color: #ffffff;
	text-align: center;
}
