@charset "UTF-8";

.menu li.que a {
	background-color: #a0d8ef;
	color: #4e454a;
}
.menu li.que:after {
    visibility:visible;
    opacity:1;
}

main{
	margin-top:180px;
	margin-left: 20%;
}

h2{
	font-size:20px;
	color: #191970;
}
h2 {
  position: relative;
}
h2::after {
  content: '';
  background-size: 10px 10px;
  background-color: #e1eef5;
  background-image: repeating-linear-gradient(-45deg, #4d9bc1 0, #4d9bc1 3px, #f0f8ff 0, #f0f8ff 50%);
  width: 250px;
  height: 7px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

#question_text{
	width: 80%;
	height: 150px;
	font-size:20px;
	border-radius: 4px;
}

.submit {
	display: inline-block;
    margin: 0 10px 0 10px;
    padding: 15px 50px 15px 50px;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: #00608d;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;

}

.submit:hover {
    background-color: #202f55;
}

.submit:focus {
    outline: 0;
    background-color: #202f55;
    border: 2px solid rgb(33, 150, 243);
}

.copyright {
  /*background-image: url(/D4/img/footer-bg.png);
  background-repeat: repeat-x;*/
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4682b4;
	color: #ffffff;
	text-align: center;
}