@charset "UTF-8";

#searchbutton {
  top: 150px;
  left: 20px;
  margin: 0 10% 0 0;
  padding: 0;
  width: 17%;
}

#searchwindow {
	text-align: right;
}

#moreload ul{
  list-style-type: none;	/* 先頭の記号をなくす */
}