@charset "UTF-8";

main {
	margin: 150px 150px 60px 15%;
}

/* データが０件の場合のメッセージ */
.noneData{
  color: red;
  font-weight: bold;
  font-size:30px;
  margin: 300px 0 0 380px;
}

/* 質問フォーム送信後のメッセージ表示 */
#Question_result{
	margin-left:40px;
}

/*現在のナビゲーションをホバーせずにホバー状態にする*/
/*.homeのクラス名をliタグのクラス名に変更してください*/
.menu li.qlist a {
	background-color: #a0d8ef;
	color: #4e454a;
}
.menu li.qlist:after {
    visibility:visible;
    opacity:1;
}
/*
.search {
	display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
*/

#still {
  margin: 0 5px 0 10%;
}

#still_text {
	color: #dc143c;
}

#done {
  margin: 0 5px 0 5%;
}

#searchwindow {
    margin: 0 0 0 20%;
    text-align: center;
    width: 200px;
    height: 30px;
    font-size: 16px;
    box-shadow: 0 0 0 1px #ccc inset;
	border:none;
}

#searchwindow:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}


#searchbutton  {
	display: inline-block;
    margin: 0 0 0 2%;
    padding: 10px 30px 10px 30px;
    border: none;
    text-align: center;
    background-color: #00608d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid transparent;
    border-radius: 4px;
}
#searchbutton:hover {
    background-color: #202f55;
}



#searchform {
	width: 65%;
	position: fixed;
	top:0px;
	left: 15%;
    background-color: #f0f8ff;
    padding: 90px 100px 10px 60px;
    font-size: 18px;
    color: #191970;
    font-weight: bold;
}


#moreload ul{
  list-style-type: none;	/* 先頭の記号をなくす */
}

#questions_id{
   	border:none;
}


#questions_id:focus{
    outline: 0;
    box-shadow: 0 0 0 1px #ffffff inset;
}


#q_number{
	margin: 6px 0 0 0;
}

#questions{
  border:none;
  background-color: #ffffff;
  font-size: 16px;
  line-break: anywhere;
  width: 930px;
  text-align: left;
  padding: 0 0 0 0;
  cursor: pointer;
}



.question_list{
  font-size: 13px;
}



   /*
.q_list {
 border-width: 1px;
  border-style: solid;
  border-color: #00608d;
  background-color: #ffffff;
  padding: 0 0 0 10px;
  display:flex;
  border-radius: 4px;
  line-height: 1.2em;
  list-style: none;
  border: 0 0 5px 0;
}
*/

.list_item {
  margin: 0 0 5px 0;
  border-width: 1px;
  border-style: solid;
  border-color: #00608d;
  background-color: #ffffff;
  display:flex;
  padding: 0 0 0 10px;
  border-radius: 4px;
}

.list_item:hover {
	border-width: 4px;
}

.list_item.is-hidden{
	margin: 0 0 0 0;

}

.morebutton {
	margin: 0 0 20px 45%;

	display: block;
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
    color: #00608d;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
    border-width: 4px;
  border-style: solid;
  border-color: #00608d;
}

.morebutton:hover {
    background-color: #d5f1ff;
}

.copyright {
	position:fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4682b4;
	color: #ffffff;
	text-align: center;
}