@charset "UTF-8";

/*現在のナビゲーションをホバーせずにホバー状態にする*/
/*.homeのクラス名をliタグのクラス名に変更してください*/
.menu li.req a {
	background-color: #a0d8ef;
	color: #4e454a;
}
.menu li.req:after {
    visibility:visible;
    opacity:1;
}

h1 {
	font-size: 20px;
	color: #191970;
}

h2 {
	font-size: 18px;
    color:f000000;
    margin-bottom:0px;
}

p{
	margin-top:0px;
}
.order {
	width:100px;
	height:30px;
	border-radius: 4px;
}

#request_text{
	width: 80%;
	height: 150px;
	font-size:20px;
	border-radius: 4px;
}

.submit {
	display: inline-block;
    margin: 0 10px 0 10px;
    padding: 15px 50px 15px 50px;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: #00608d;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;

}

.copyright {
  /*background-image: url(/D4/img/footer-bg.png);
  background-repeat: repeat-x;*/
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4682b4;
	color: #ffffff;
	text-align: center;
}

