@charset "UTF-8";

main{
	margin-top:180px;
	margin-left: 20%;
}

/*現在のナビゲーションをホバーせずにホバー状態にする*/
/*.homeのクラス名をliタグのクラス名に変更してください*/
.menu li.req a {
	background-color: #a0d8ef;
	color: #4e454a;
}
.menu li.req:after {
    visibility:visible;
    opacity:1;
}

h2 {
	font-size: 20px;
	color: #191970;
}
h2 {
  position: relative;
}
h2::after {
  content: '';
  background-size: 10px 10px;
  background-color: #e1eef5;
  background-image: repeating-linear-gradient(-45deg, #4d9bc1 0, #4d9bc1 3px, #f0f8ff 0, #f0f8ff 50%);
  width: 230px;
  height: 7px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

/*宛先を横並びに*/
.rform {
	display: flex;
	gap: 20px;
	align-items: center;
}
.h3 {
	margin: 0;
	display: flex;
}
.address {
	margin: 0;
	display:flex;
	align-items: center;
}

.formselect {
    position: relative;
    text-align: center;
}

.formselect:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 12px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(135deg);
    pointer-events: none;
}

.formselect select {
    height: 2.4em;
    width: 100%;
    padding: 0 40px 0 30px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.formselect select::-ms-expand {
    display: none;
}

.formselect select:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
#request_text{
	width: 80%;
	height: 150px;
	font-size:20px;
	border-radius: 4px;
}

.submit {
	display: inline-block;
    margin: 0 10px 0 10px;
    padding: 15px 50px 15px 50px;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: #00608d;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;

}

.submit:hover {
    background-color: #202f55;
}

.submit:focus {
    outline: 0;
    background-color: #202f55;
    border: 2px solid rgb(33, 150, 243);
}

.copyright {
  /*background-image: url(/D4/img/footer-bg.png);
  background-repeat: repeat-x;*/
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4682b4;
	color: #ffffff;
	text-align: center;
}

