@charset "UTF-8";

main {
	margin: 90px 150px 60px 15%;
}


h2 {
	margin: 150px 150px 0 5%;
	font-size: 20px;
	color: #191970;
}

h2::after {
  width: 90px;
}

/*現在のナビゲーションをホバーせずにホバー状態にする*/
/*.homeのクラス名をliタグのクラス名に変更してください*/
.menu li.rlist a {
	background-color: #a0d8ef;
	color: #4e454a;
}
.menu li.rlist:after {
    visibility:visible;
    opacity:1;
}

#Request_result{
	margin: 0 0 0 5%;
}

.noneData{
  color: red;
  font-weight: bold;
  font-size:30px;
  margin: 300px 0 0 380px;
}
.anoni_background{
  margin: 0 0 0 2%;

  height:30px;
  background-image: url(../img/anoni1_background.png);
  background-repeat: round;
  background-color:#f0f8ff;
}

.morebutton {
	margin: 0 0 20px 45%;

	display: block;
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
    color: #00608d;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
    border-width: 4px;
  border-style: solid;
  border-color: #00608d;
}

#moreload ul{
  list-style-type: none;	/* 先頭の記号をなくす */
}

.list_item {
  border-width: 1px;
  border-style: solid;
  border-color: #00608d;
  background-color: #ffffff;
  display:flex;
  padding: 0 0 0 10px;
  border-radius: 4px;
  height:auto;
}

#requests{
 display:flex;
 margin: 5px 0 0 0;
}

.copyright {
  /*background-image: url(/D4/img/footer-bg.png);
  background-repeat: repeat-x;*/
  	position:fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4682b4;
	color: #ffffff;
	text-align: center;
}