@charset "UTF-8";


/*現在のナビゲーションをホバーせずにホバー状態にする*/
/*.homeのクラス名をliタグのクラス名に変更してください*/
.menu li.reach a {
	background-color: #a0d8ef;
	color: #4e454a;
}
.menu li.reach:after {
    visibility:visible;
    opacity:1;
}

main{
margin: 60px 105px 0 337px;
}

/* アノニくんスタイル */
.anonis{
	width:100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
.anoni_png{
	width:200px;
}
.cnt{
	text-align:right;
	font-size:25px;
}

/* フッター */
.copyright {
  /*background-image: url(/D4/img/footer-bg.png);
  background-repeat: repeat-x;*/
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4682b4;
	color: #ffffff;
	text-align: center;
}