@charset "UTF-8";


/*現在のナビゲーションをホバーせずにホバー状態にする*/
/*.homeのクラス名をliタグのクラス名に変更してください*/
.menu li.chara a {
	background-color: #a0d8ef;
	color: #4e454a;
}
.menu li.reach:after {
    visibility:visible;
    opacity:1;
}

/* アノニくんスタイル */
.anonis{
	width:100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
.anoni_png{
	width:200px;
}
.cnt{
	text-align:right;
	font-size:25px;
}